/* FILE: bbqlinux.css */

* {margin:0;padding:0;line-height:1.4}
body {min-width:650px;background:#f6f9fc;color:#222;font:normal 100% sans-serif;text-align:center}
p {margin:.33em 0 1em}ol,ul{margin-bottom:1em;padding-left:2em}ul{list-style:square}
code {font:1.2em monospace;background:#ffd;padding:.15em .25em}
pre {font:1.2em monospace;border:1px solid #bdb;background:#dfd;padding:.5em;margin:1em}
pre code{display:block;background:none}
blockquote{margin:1.5em 2em}
input {vertical-align:middle}
select[multiple] {padding:1px 0}
select[multiple] 
option {padding:0 .5em 0 .3em}
input[type=submit] {padding:0 .6em}.clear{clear:both}.hide{display:none}
hr{border:none;border-top:1px solid #888}
img{border:0}#content{font-size:.812em}
a {text-decoration:none}
a:link,th a:visited {color:#07b}
a:visited {color:#666}
a:hover {text-decoration:underline;color:#666}
a:active {color:#e90}


/* NAVBAR */

#navbar
{
	height:80px;
	padding:10px 15px;
	background:#333;
	border-bottom:5px #08c solid;
}

#navbarlogo
{
	float:left;
	margin:20px 0px 0px 40px;
	padding:0;
	height:50px;
	width:231px;
	background:url(../gfx/bbqlogo50px-lighting.png) no-repeat;

}

#navbarlogo h1
{
	margin:0;
	padding:0;
    text-indent:70px;

}

#navbarlogo a
{
	display:block;
	height:80px;
	width:190px
}

#navbarlist
{
	display:inline;
	float:right;
	list-style:none;
	margin:0;
    padding-right:20px;
}

#navbarlist li
{
	float:left;
	font-size:16px;
	font-family:sans-serif;
	line-height:80px;
	padding-right:16px;
	padding-left:16px;
}

#navbarlist li a
{
	color:#999;
	font-weight:bold;
	text-decoration:none
}

#navbarlist li a:hover
{
	color:white;
	text-decoration:underline
}

/* FOOTER */

#footbar
{
    position:absolute;
    bottom:0px;
	height:60px;
    width:100%;
	background:#333;
	border-top:5px #08c solid;
}

#footbarCopyright
{
    margin:10px 0px 0px 0px;
    color:#FFF;
    font-size:11px;
	font-family:sans-serif;
    text-align:center;
}

#footbarCopyright a
{
    color:#08c;
}

/* GENERAL */

div.box-left-header
{
    height:20px;
	line-height:25px
    float:left;
    color:#FFF;
	font-weight:bold; 
    background:#08c;
    border-bottom:5px #08c solid;
    padding:10px;
}

div.box-right-light-header
{
    height:20px;
    float:clear;
    text-align:right;
    border-bottom:5px #08c solid;
    padding:10px;
}

div.box-right-dark-header
{
    height:20px;
    float:clear;
    color:#FFF;
	font-weight:bold; 
    background:#08c;
    border-bottom:5px #08c solid;
    padding:10px;
}

div.box
{
	margin-bottom:1.5em;
	padding:.65em;
	background:#ecf2f5;
	border:1px solid #bcd;
}


/* CONTENT */

#content
{
	width:95%;
	margin:0 auto;
	text-align:left;
}

#content-left-wrapper
{
	float:left;
	width:100%;
}

#content-left
{
	margin:0 340px 0 0;
}

#content-right
{
	float:left;
	width:300px;
	margin-left:-300px;
}
